<div class="jumbotron mt-4">
  <nav class="nav navbar-dark">
    <a class="nav-link footer-link pl-1" href="#">FOLLOW US</a>
    <%= link_to fa_icon("facebook"), root_path, class: "nav-link footer-link" %>
    <%= link_to fa_icon("google"), root_path, class: "nav-link footer-link" %>
    <%= link_to fa_icon("youtube-play"), root_path, class: "nav-link footer-link" %>
  </nav>
  <hr class="my-3">
  <nav class="nav navbar-dark justify-content-between">
    <div class="footer-knup d-inline-flex">
      <a class="navbar-brand" href="#" style="font-size: 1.5rem; color: #3d3d3d">KNUP</a>
      <%= link_to "개인정보방침", root_path, class: "nav-link footer-link" %>
      <%= link_to "이용약관", root_path, class: "nav-link footer-link" %>
      <%= link_to "G-suite", root_path, class: "nav-link footer-link" %>
    </div>
    <div class="footer-help">
      <%= link_to fa_icon("question-circle", text: "Help"), root_path, class: "nav-link footer-link" %>
    </div>
  </nav>
  <p class="mt-1" style="color: #3d3d3d">
    Copyright © 2011. KNUP.  All rights reserved.
  </p>
</div>